/* Styles for Void Trader */
/* 
 * Bright blue: #488bb6
 * Medium blue: #2a5169 // body color
 * Dark blue: #203d4f
 */
 
body {
  background-image: url('../images/back-gradient.png');
  background-color: #2a5169;
  background-repeat: repeat-x;
}
a:link, a:visited {
  color: #203d4f;
}
a:hover, a:active {
  color: #2a5169;
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.header {
  background-image: url('../images/title.jpg');
  width: 960px;
  height: 163px;
}
.divider {
  background-image: url('../images/small-gradient.png');
  background-repeat: repeat-x;
  width: 960px;
  height: 63px;  
}
.content-container {
  border-left: 1px solid #488bb6;
  border-right: 1px solid #488bb6;
  border-bottom: 1px solid #488bb6;
  border-top: 1px solid #2a5169;
  width: 958px;
  height: 175px;  
}
.content {
  padding-top: 75px;
  text-align: center;
}
.clear {
  clear: both;
}