.article {
  color: $c-white;
}

.article-content-container {
  @include stagecenter();
  padding: 3em 0;
}

.article-content {
  max-width: 43.75em;
  padding: 0.5em 3em;
  border: 2px solid $c-grey;
  border-radius: 0.5em;
  background-color: rgba($c-black, 0.8);
}

.article-title {
  @include fontsize(24);
  @extend %bold;
  padding: 0;
  margin: 0.25em 0;
  text-transform: uppercase;
}

.article-text {
  border-top: 1px solid $c-white;
  p {
    margin: 0.5em 0;
  }
}

.article-divider {
  background-color: $c-black;
  padding: 1em;
}

.article-one,
.article-two,
.article-three {
  @include transition();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.article-one {
  background-image: url('../images/article-bg-01.jpg');
}

.article-two {
  padding-top: 4em;
  background-image: url('../images/article-bg-02.jpg');
}

.article-three {
  padding-top: 4em;
  background-image: url('../images/article-bg-03.jpg');
}

