.sidebar {
  @include stagecenter();
}
.navigation {
  position: fixed;
  top: 7em;
  float: right;
  left: 64.5em;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style-type: none;
  margin-bottom: 5px;
}

.navigation-link {
  display: block;
  border-bottom: 5px solid $c-dark-blue;
  border-radius: 0.5em;
  color: $c-white;
  background-color: $c-blue;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0.1em 2.3em;

  &:hover {
    background-color: $c-dark-blue;
    border-top: 3px solid $c-dark-blue;
    border-bottom: 2.5px solid $c-dark-blue;
  }
}